    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }
    * {
        box-sizing: border-box;
        color: #ffffff;
    }
    .shoppingcart {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background: #ffc107;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
    }

    .slider_section {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        z-index: 2;
        color: #3b3a3a;
        padding-bottom: 90px;
      }
      
      .slider_section .row {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      
      .slider_section div#carouselExampleIndicators {
        width: 100%;
        position: unset;
      }
      
      .slider_section .detail_box {
        color: #ffffff;
      }
      
      .slider_section .detail_box h1 span {
        color: #fbb03b;
      }
      
      .slider_section .detail_box p {
        margin-top: 20px;
      }
      
      .slider_section .detail_box a {
        display: inline-block;
        padding: 10px 45px;
        background-color: #582fd7;
        color: #ffffff;
        border-radius: 5px;
        margin-top: 35px;
      }
      
      .slider_section .detail_box a:hover {
        background-color: #6944db;
      }
      
      .slider_section .img-box img {
        width: 100%;
      }
      
      .slider_section .slider_number-container {
        position: absolute;
        top: 8%;
        left: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      
      .slider_section .carousel_btn-container {
        width: 95px;
        position: absolute;
        bottom: 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        right: 50%;
        z-index: 999;
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
      }
      ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #120c21;
        border-radius: 10px;
      }
      .col-md-6 {
        border: rgb(28, 0, 104) solid 3px;
        background-color: #07111a;
        border-radius: 5px;
        padding: 10px;
      }
      .footer-dark {
        padding:50px 0;
        color:#f0f9ff;
        background-color:#282d32;
      }
      
      .footer-dark h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
      }
      
      .footer-dark ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
      }
      
      .footer-dark ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.6;
      }
      
      .footer-dark ul a:hover {
        opacity:0.8;
      }
      
      @media (max-width:767px) {
        .footer-dark .item:not(.social) {
          text-align:center;
          padding-bottom:20px;
        }
      }
      
      .footer-dark .item.text {
        margin-bottom:36px;
      }
      
      @media (max-width:767px) {
        .footer-dark .item.text {
          margin-bottom:0;
        }
      }
      
      .footer-dark .item.text p {
        opacity:0.6;
        margin-bottom:0;
      }